* {
    margin: 0;
    padding: 0;
    font-family: "Smythe", system-ui;
    font-weight: normal;
}

.align-right {
    margin-left: auto;
}

h2,h3 {
    font-size: 28px;
    margin-bottom: 8px;
}

.hidden {
    display: none;
}

header {
    background-image: url("banner-bg.png");
    background-size: cover;
    color: #fff;
    margin-bottom: 16px;
}

h1 {
    font-size: 39px;
    margin-bottom: 8px;
}

.slogan {
    font-size: 22.42px;
}

.container {
    margin: auto;
    padding: 56px 46px;
    max-width: 508px;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-bottom: 50px;
    border-bottom: 1px solid #D2D2D2;
    margin-bottom: 45px;
}

.item-graphic {
    font-family: "Inter", sans-serif;
    font-size: 78.72px;
    width: 108px;
    text-align: center;
}

.item-ingredients {
    font-size: 16px;
    margin-bottom: 8px;
    color: #8B8B8B;
}

.item-price {
    font-size: 20px;
}

.add-item-btn {
    min-width: 50px;
    height: 50px;
    background: #fff;
    border: 1.5px solid #DEDEDE;
    border-radius: 50%;
    font-size: 16px;
    color: #3C3C3C;
    padding: auto;
}

h2 {
    text-align: center;
    margin-bottom: 64px;
}

.order-line {
    display: flex;
    gap: 10px;
    align-items: center;
}

hr {
    border: 1px solid #393333;
    margin: 10px 0;
}

.remove-item-btn {
    border: none;
    background: none;
    font: 12px "Noto Sans", sans-serif;
    color: #BBBBBB;
    align-self: center;
    margin-bottom: 4px;
}

.color-btn {
    margin-top: 52px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background: #16DB99;
    color: #fff;
    font: bold 16px "Noto Sans", sans-serif;
    padding: 18px;
}